.container {
    display: grid;
    width: 80%;
    height: 90vh;
    justify-self: center;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    grid-template-rows: repeat(7, 1fr); 
    
    border: solid 0.25rem black;
    }

.banner {
    grid-area: 1/8/1/1;
    background-image: url("img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.categories {
    grid-area: 2/1/7/1;
}

.container_categories {
    display: grid;

    height: 100%;
    width: 100%;

    grid-template-columns: 50px 1fr 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    grid-gap: 0.5rem;
}

.burger_cat {
    background-image: url("img/burger.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.wrap_cat {
    background-image: url("img/wrap.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.desserts_cat {
    background-image: url("img/desserts.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.drinks_cat {
    background-image: url("img/drinks.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.happymeal_cat {
    background-image: url("img/happymeal.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.food {
    grid-area: 2/2/7/8;
    background-color: black;
}

.container_food {
    display: grid;

    height: 100%;
    width: 100%;

    grid-template-columns: 25px 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 25px 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 0.5rem;
}



.order {
    grid-area: 7/1/8/8;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
}

.cancel {
    width: 25rem;
    height: 5rem;
    border-radius: 0.75rem;
    background-color: red;
    font-size: 1rem;
}

.finish {
    width: 25rem;
    height: 5rem;
    border-radius: 0.75rem;
    background-color: lightgreen;
    font-size: 1rem;
}